## Edit path for Git repository root
export REPO_ROOT	= /home/sanki/Projects/

## Edit root path where Qt is installed ####################################################
export QTDIR	= /home/sanki/Qt/qt_500/

## Edit Specifications for qmake bild flags ###############################################
## (This will affect type of makefile generated) ##########################################
export QMAKESPEC=linux-g++
# macx-g++
# cygwin-g++
# for more refer $(QTDIR)/mkspecs/

## Edit path for BOOST and OKPTREE #########################################################
export BOOST_ROOT	= /home/sanki/Boost/Stage/

## Edit path for OpenCV ####################################################################
export LIBOPENCV_ROOT       = /home/sanki/OpenCV/Stage/

## Edit path for JPEG  #####################################################################
# LIBJPEG_ROOT		= /opt/local/

## This will be the directory where all output binaries and libraries will be placed #######
export OUTPUT_DIR	= $(DIST_ROOT)/bin

## Edit this variable for a Developer Build ################################################
## In a developer build, most packages are used from head revision.  #######################
DEVELOPER_BUILD=true
#false
#true

## Edit Optimization Flags ################################################################
export OPTFLAGS	=  -ggdb -O0
#export OPTFLAGS	= -O3  -fstrict-aliasing -momit-leaf-frame-pointer -fno-tree-pre -falign-loops -fomit-frame-pointer -ffinite-math-only -ffast-math -DNDEBUG -march=native
## Available optimizations Flags ##########################################################
# -O		: 3, 2, 1, s, 0
# -march=	: native, prescott, core2, corei7, atom, armv7-a, k6-3, k8, btver2, bdver2
# ******warning wrong -march can harm performance. "native" can make binaries unportable
# -msse		: 2, 3, 4.2
############################################################################################

